<div class="h-full">

  <div class="mt-2">
    <app-card-view [data]="pinCode">
      <ng-container id="home">
        <span class="text-2xl block">802156</span>
        <span class="text-base block">Agarsanda ,Behara</span>
        <span class="text-base block">Ara, Bhojpur</span>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-2">
    <app-card-view [data]="govtYojna">
      <ng-container id="home">
          <div *ngFor="let item of items;let i=index" ngClass="mt-2 ">
            <span class="text-sm block font-semibold">{{i+1}}. प्रधानमंत्री श्रम योगी मानधन योजना :-</span>
            <span class="text-xs">प्रधानमंत्री श्रम योगी मानधन योजना को 15 फरवरी 2019 को लागू किया गया था | इस योजना के तहत लाभार्थियों को 60 साल की आयु के पश्चात्....</span>
            <a class="text-xs text-blue-600 px-2 py-1 bg-gray-200 rounded-sm" href="https://icdsupweb.org/pm-shram-yogi-mandhan-pension-yojana/">More details</a>
          </div>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-2">
    <app-card-view [data]="workUpdate">
      <ng-container id="home">
        <app-toggle (toggleResponse)="toggleResponse($event)"></app-toggle>
        <div class="mt-2" *ngIf="!toggle">
          Wait....I am finding job for you.
        </div>
        <div class="mt-2" *ngIf="toggle">
          Congratulation....Finaly you got the job.
        </div>
      </ng-container>
    </app-card-view>
  </div>


  <!-- <div class="mt-2">
    <app-card-view>

    </app-card-view>
  </div> -->

</div>
