<div class="w-full h-screen backgroundColor">
  <div class="flex justify-around items-center">
    <!-- <div class="text-center">
      <span class="text-2xl text-rose-600">Logo</span>
    </div> -->
    <div class="text-center">
      <div class="" style="margin-top: 20vh;">
        <div class="bg-white  rounded-md login-bord custom-shadow">
            <div class="">
                <div class="pt-8 mx-10">
                  <span class="text-lg text-blue-600">Login</span>
                    <div class="h-0.5 w-24 mx-auto bg-blue-600"></div>
                </div>
                <div>
                  <div class="mt-8 mx-10">
                    <input type="text" class="rounded-sm w-full py-2.5 px-2 text-sm border text-gray-600  focus:outline-none hover:border-blue-400 focus:border-blue-400" placeholder="Enter username " >
                  </div>

                  <div class="mt-8 text-center border-2 py-2 rounded-sm font-semibold  bg-blue-400 text-indigo-50 hover:bg-blue-500 hover:text-white  cursor-pointer mx-10">
                    <span class="w-full">Login</span>
                  </div>
                </div>
                <div class="mt-24">
                    <div class="py-10 bg-gray-100 text-center">
                        <span class="text-xs">This is Login pottal</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
