<div>
  <div class="py-3 border-b-8 border-lime-300 text-gray-600 text-center font-semibold text-xl">
    <span>Your Profile</span>
  </div>
</div>

<div class="flex pb-10 h-full w-full justify-center overflow-y-hidden">

  <div class="w-full mt-10">
    <div class="bg-white shadow-xl rounded-lg py-3 w-full">
        <div class="photo-wrapper p-2">
          <img class="w-32 h-32 rounded-full mx-auto object-cover"
            src="https://images.livemint.com/img/2021/03/07/1600x900/LSpic_1615133040221_1615133049722.jpg"
            alt="John Doe">
            <div class=" w-full flex justify-center ">

              <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 p-2 absolute -mt-8 ml-10 rounded-full bg-gray-300" viewBox="0 0 512 512"><path d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"/></svg>
            </div>
        </div>
      <div >
        <div class="bg-gray-300 py-2">
          <h3 class="text-center text-xl text-gray-900 font-medium leading-8">Ram Charan Parshad</h3>
          <div class="text-center text-gray-400 text-xs font-semibold">
            <p>Labour</p>
          </div>
        </div>
        <div class="p-2">
          <table class="text-xs my-3">
            <tbody>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">Phone</td>
                <td class="px-2 py-2">+91 9876765438</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold whitespace-nowrap">Work Type</td>
                <td class="px-2 py-2">Labour, Auto mistri, Farming labour, Carpenter</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">Pincode</td>
                <td class="px-2 py-2">324010</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">Village</td>
                <td class="px-2 py-2">Agarsanda</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">PostOffice</td>
                <td class="px-2 py-2">Behara</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">District</td>
                <td class="px-2 py-2">Bhojpur,Ara</td>
              </tr>
              <tr>
                <td class="px-2 py-2 text-gray-500 font-semibold">Address</td>
                <td class="px-2 py-2">Agarsanda Behara,Bhojpur Ara Bihar</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center my-3">
          <span (click)="openForm()" class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium">Edit
            details</span>
        </div>

      </div>
    </div>
  </div>

</div>

<app-form>
  <ng-container>
    <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-2">
      Edit Profile
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2" for="username" >
       Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        autofocus placeholder="Enter name"
      />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
         type="text" placeholder="Enter email" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Village
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
         type="text" placeholder="Enter village"   />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Postoffice
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
         type="text" placeholder="Enter postoffice"   />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Address
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"  cols="27" rows="5"
      placeholder="Enter your full address"></textarea>
    </div>
  </ng-container>
</app-form>
