<div>
  <div class="py-3 border-b-8 border-lime-300 text-gray-600 text-center font-semibold text-xl">
    <span>All locations</span>
  </div>
  <div class="mt-5">
    <app-card-view [data]="pinCode">
      <ng-container id="home">
        <span class="text-2xl block">802156</span>
        <span class="text-base block">Agarsanda ,Behara</span>
        <span class="text-base block">Ara, Bhojpur</span>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-2">
    <app-card-view [data]="pinCode2">
      <ng-container id="home">
        <span class="text-2xl block">802156</span>
        <span class="text-base block">Agarsanda ,Behara</span>
        <span class="text-base block">Ara, Bhojpur</span>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-2">
    <app-card-view [data]="pinCode2">
      <ng-container id="home">
        <span class="text-2xl block">802156</span>
        <span class="text-base block">Agarsanda ,Behara</span>
        <span class="text-base block">Ara, Bhojpur</span>
      </ng-container>
    </app-card-view>
  </div>

  <div (click)="openForm()" class="py-2 mt-2 bg-yellow-500  text-gray-100 text-center ">
    <span class="text-2xl font-bold ">+</span>
  </div>

</div>

<app-form>
  <ng-container>
    <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-2">
      Add new location
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2" for="username" >
        Location pincode
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        autofocus placeholder="Enter location pincode"
      />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Address
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"  cols="27" rows="5"
      placeholder="Enter your full address"></textarea>
    </div>
  </ng-container>
</app-form>
